html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

:root {
	--driving-color: rgba(255, 4, 0, 0.7);
	--driving-color-active: rgba(255, 4, 0, 1);
}

@font-face {
	font-family: Silom;
	src: url(../assets/font/Silom.ttf);
}

h1 {
	font-family: 'Silom';
	color: rgba(62, 62, 62, 0.5);
	font-size: 50pt;
}

h2 {
	font-family: 'Silom';
	color: rgba(62, 62, 62, 0.5);
	font-size: 25pt;
}

h3 {
	font-family: 'Silom';
	color: rgba(180, 180, 180, 0.5);
	font-size: 10pt;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

img {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
}

/****
*
*	General
*
*****/

.flex-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-row {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.flex-col {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.flex-item {
	height: 100%;
	width: 100%;
	display: flex;
}

#row-1 {
	flex: 0 0 calc(10% - 5px);
	margin-bottom: 5px;
}

#visual-col-1,
#visual-col-3 {
	flex-basis: 20%;
	justify-content: center;
	align-content: center;
}

#visual-col-2 img {
	width: 100%;
}

#visual-col-1 img,
#visual-col-3 img {
	width: 40%;
}

/*******/
#model {
	width: 50%;
	position: absolute;
}

#model canvas {
	width: 266px !important;
	height: 148px !important;
}
/****
*
*	Driving window in the game! 
*
*****/

#driving {
	display: flex;
	height: calc(100% - 10px);
	width: calc(100% - 10px);
	padding: 5px;
	background-color: #444444;
}

#left:hover {
	background-color: #ff2828;
}

#right:hover {
	background-color: #ff2828;
}

#driving h2 {
	font-size: 18pt;
}

#driving-defeated-round {
	display: none;
	height: 100%;
	width: 100%;
	background-color: #ff2828;
	position: absolute;
	z-index: 1;
}

#driving-defeated-game {
	display: none;
	height: 100%;
	width: 100%;
	background-color: #ff2828;
	position: absolute;
	z-index: 1;
}

.driving-col-turn {
	background-color: var(--driving-color);
	border-radius: 10px;
	margin: 5px;
}

#driving-row-2 {
	background-color: var(--driving-color);
	border-radius: 10px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

#driving-row-2:active {
	background-color: var(--driving-color-active);
}

#driving-col-1 {
	background-color: var(--driving-color);
	border-radius: 10px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

#driving-col-2 {
	background-color: var(--driving-color);
	border-radius: 10px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

#driving-col-1:active,
#driving-col-2:active {
	background-color: var(--driving-color-active);
}

#driving-perk-text,
#driving-perk-empty {
	flex-basis: 40%;
	justify-content: center;
	align-content: center;
}

#driving-perk-icon {
	height: 45%;
	flex-basis: 20%;
	justify-content: center;
	align-content: center;
}

.driving-drive-icon {
	flex: 0 0 75%;
	justify-content: center;
	align-content: center;
}

.driving-drive-icon img {
	width: 20%;
}

.driving-drive-text {
	flex: 0 0 25%;
	justify-content: center;
	align-content: center;
}

.driving-drive-text h2 {
	margin: 0;
}

/**********/

#touch-container {
	margin-left: 5px;
	margin-left: 5px;
	background-color: #80808030;
	background-image: url(https://www.transparenttextures.com/patterns/3px-tile.png);
}

#touchPad {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

/****
*
*	Loading and waiting
*
*****/

#waiting {
	display: none;
	height: 100%;
	width: 100%;
	background-color: #444444;
}

#loading {
	height: 100%;
	width: 100%;
	background-color: #444444;
}

#loading-text {
	color: #b3bbbb;
	animation: pulse 1.5s alternate infinite ease-in;
	-webkit-animation: pulse 1.5s alternate infinite ease-in;
	padding-top: 10px;
}

.car-holder {
	position: absolute;
	width: 12px;
	height: 180px;
	top: 150px;
}

.car-holder img {
	width: 20px;
}

.load-5 .car-holder {
	animation: loadingE 5s linear infinite;
	-webkit-animation: loadingE 5s linear infinite;
}

@keyframes loadingE {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}

/****
*
*	Car selection before the driving starts! 
*
*****/

#choosing {
	height: calc(100% - 10px);
	width: calc(100% - 10px);
	padding: 5px;
	background-color: #444444;
}

#choosing-row-2 {
	flex: 0 0 calc(30% - 5px);
	background-color: rgba(0, 0, 0, 0.45);
	margin-bottom: 5px;
	border-radius: 5px;
}

#choosing-row-3 {
	flex: 0 0 calc(60% - 5px);
	background-color: rgba(0, 0, 0, 0.45);
	border-radius: 5px;
}

#choosing-color-text {
	flex: 0 0 10%;
	justify-content: left;
	align-content: flex-start;
}

#choosing-color-text h3 {
	margin: 0;
	padding-left: 5px;
	padding-bottom: 5px;
}

.choosing-colors {
	position: relative;
}

.choosing-colors img {
	width: 50%;
}

.pulsate {
	animation: pulse 1.5s alternate infinite ease-in;
	-webkit-animation: pulse 1.5s alternate infinite ease-in;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	100% {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
	}
}

.choosing-selected {
	display: none;
	width: 20%;
	position: absolute;
	bottom: 12px;
	right: 17px;
}

.choosing-selected {
	width: 20% !important;
}

#choosing-car-text {
	position: relative;
	flex: 0 0 10%;
	justify-content: left;
	align-content: flex-start;
}

#choosing-car-text h3 {
	margin: 0;
	padding-left: 5px;
	padding-top: 5px;
}

#choosing-car-text-h1 {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

#choosing-car-model {
	flex: 0 0 70%;
}

#choosing-car-model-car img {
	position: relative;
	width: 60%;
}

#choosing-car-model-icon-1,
#choosing-car-model-icon-2 {
	height: 30%;
}

#choosing-car-model-icon-1:active,
#choosing-car-model-icon-2:active {
	opacity: 0.40;
}

#choosing-car-ready {
	flex: 0 0 20%;
}

#choosing-car-ready-text {
	display: none;
	color: #ffffffb3;
	font-size: 18pt;
}

#choosing-car-ready img {
	height: 60%;
}

#choosing-car-ready h3 {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/****
*
*	Menu
*
*****/

#menu {
	display: none;
	height: calc(100% - 10px);
	width: calc(100% - 10px);
	padding: 5px;
	background-color: #444444;
}

#menu-row-2 {
	flex: 0 0 calc(20% - 5px);
	background-color: rgba(255, 255, 255, 0.45);
	margin-bottom: 5px;
	border-radius: 5px;
}

#menu-row-3 {
	flex: 0 0 calc(70% - 5px);
	background-color: rgba(0, 0, 0, 0.45);
	border-radius: 5px;
}

#menu-settings h1 {
	font-size: 30pt;
}

#menu-nav {
	color: white;
	margin-top: 5px;
}

.menu-nav-btn {
	color: white;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.45);
	margin: 10px;
	border-radius: 5px;
}

#btn-acc {
	margin: 0;
	margin-bottom: 10px;
}

#btn-bac {
	margin: 0;
}

#menu-nav i {
	font-size: 60px;
}
